@font-face {
  font-family: 'old_english';
  src: url(../font/oldenglishtextmt.ttf);
}

@font-face {
  font-family: 'algeria';
  src: url(../font/Algerian\ Regular.ttf);
}

@font-face {
  font-family: 'inter';
  src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'kalpona';
  src: url(../font/Kalpana\ ANSI.ttf);
}

.college-name {
  color: #fff;
}

.college-name h1 {
  font-family: 'old_english';
  font-size: 3rem;
  /* margin: 0 0 0.625rem 0; */
}

.college-name h2 {
  /* font-family: ''; */
  font-size: 1.85rem;
  font-weight: 400;
  /* margin: 0 0 0.625rem 0; */
}

#est {
  font-size: 1.313rem !important;
  /* margin-left: 0.440rem; */
}

#est,
h3 {
  font-family: 'algeria';
  font-size: 1.375rem;
  font-weight: 400;
}

.header_logo {
  border: unset !important;
  background: #003979;
  padding: 15px 11px !important;
  margin: unset !important;
  align-items: center;
  justify-content: space-between;
}

.header_logo>.me-md-auto {
  margin-right: unset !important;
  width: 44%;
  align-items: flex-start !important;
  gap: 0 6px;
}

.anek-bangla {
  font-family: "Anek Bangla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.row1st_buttons,
.row2nd_buttons {
  gap: 10px;
}

.college-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  font-family: 'inter';
  font-weight: 500;
}

.nav_logo1 {
  display: none;
}

.navbar-nav {
  flex-wrap: wrap;
}

.bg-body-tertiary {
  background: #8C1416 !important;
  padding: 13px 11px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-link {
  color: #fff;
}

.navbar-nav>.nav-item>.nav-link:hover,
.flex-column>.nav-item>.nav-link:hover {
  color: #d4afaf !important;
}

/* .nav-link.show {
  color: #d4afaf !important;
} */

/* .dropdown:hover.show {
  display: block;
} */

.latest-news {
  background: #8C1416;
  /* padding: 13px 11px; */
  overflow: hidden;
  flex-direction: row;
}

.Latest_news>li {
  list-style: none;
}

.Latest_news>li a {
  list-style: none;
  /* text-decoration: none; */
  color: #fff;
}

.Latest_news {
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
  flex-wrap: nowrap !important;
}

.latest-news-text {
  font-size: 1.125rem;
  color: #fff;
  box-shadow: 0px 1px 10px #ffffff;
}

.justify-content-between {
  justify-content: unset !important;
  padding: 13px 11px;
}

.col-7 {
  height: fit-content;
}

.col-9 {
  padding: 0;
}

.p-desk-withnotice,
.col-4 {
  height: 303px;
  font-size: 1.125rem;
  background: #CCE4FF;
  font-weight: 500;
  font-family: 'inter';
  border-radius: 15px;
  padding-top: 30px;
  padding: 20px;
}

.align-items-start {
  gap: 15px;
}

.notices {
  margin: 19px 0;
  padding: 0 25px;
}

hr {
  margin: 1rem auto;
  border-top: 1px solid #ACACAC;
  opacity: unset;
}

.card {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
  border-radius: 15px;
  border: unset !important;
}

.college-important-link {
  gap: 20px;
  font-family: 'inter';
}

.card-1 {
  background: #BD818B;
}

.card-2 {
  background: #3AA6A6;
}

.card-3 {
  background: #0074B9;
}

.card-title,
p {
  color: #fff;
  font-size: 1.063rem;
}

.card-title {
  font-size: 1.563rem;
  font-weight: 500;
}

.btn-outline-light {
  padding: 7px 30px;
  border: 8px;
  border: 1px solid;
}

.py-5 {
  margin: 19px 0 0 0 !important;
  background: #8C1416;
  justify-content: space-between;
  padding: 25px 0 !important;
  font-family: 'inter';
}

.mb-3 {
  margin-bottom: 0 !important;
}

.footer-section {
  padding: 0 !important;
}

.col-1 {
  width: fit-content !important;
}

.col-1 h5,
.flex-column>li a {
  color: #fff !important;
}

.copyright-social {
  background: #3C0101;
  margin: 0 !important;
  padding: 0 !important;
}

.justify-content-between p,
.list-unstyled {
  margin-bottom: 0;
}

.a-login {
  background: unset !important;
  border: unset;
  padding: 0;
}

.admin {
  justify-content: space-between !important;
}

.btn-g a {
  background: #23B14F !important;
}

.btn-y a {
  background: #EEE4B0 !important;
  color: #333 !important;
}

.btn-l-b a {
  background: #9AD9EA !important;
  color: #333 !important;
}

.btn-o a {
  background: #FF7F28 !important;
}

.mb-2 {
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  font-weight: 400 !important;
}

.dropdown-menu {
  border: unset;
  background: #8C1416;
}

.dropdown-menu>li a {
  color: #ffffff;
}

.col-xl-5 {
  width: 100%;
}

.col-xl-5 .card {
  background: #003979;
  border-radius: 15px !important;
  color: #fff !important;
}

.col-1 iframe {
  border-radius: 15px !important;
}

.notices>.row>.col-4 {
  height: auto;
}

/* .college-logo{
  background: transparent;
  opacity: 1;

} */